.postitem {
  display: grid;
  grid-template-columns: 150px 1fr 1fr 150px 20px 30px;
  padding: 0 40px;
  background-color: grey;
  gap: 1px;
  align-items: center;
  height: 48px;
}

.postList {
  padding: 0;
  outline: 4px auto -webkit-focus-ring-color;
  background-color: grey;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.postitem span {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
