.trashButton {
  color: red;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: none;
}

.patchButton {
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: none;
}

.trashButton:disabled {
  cursor: default;
}

.patchButton:disabled {
  cursor: default;
}
